.cupon_table tr>:first-child{ text-align:justify;}
.cupon_table td.cupon_content{padding:0 0 0 25px;}
.cupon_content {
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #B9B9B9 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #B9B9B9 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #B9B9B9 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #B9B9B9));
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #B9B9B9 100%);
	border: 1px solid #E5E5E5;
	border-bottom: 1px solid #A0A0A0;
	-webkit-border-top-left-radius: 10px 10px;
	-moz-border-top-left-radius: 10px 10px;
	border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px 10px;
	-moz-border-top-right-radius: 10px 10px;
	border-top-right-radius: 10px;
	width:340px;
	height:160px;
	padding-left:25px;
	text-align:justify !important;
}
.cupon_content label{
	font-family:Arial;
	font-size:15px;
	color:#097386;
}
.cupon_content p{
	font-family:Arial;
	font-size:12px;
	color:#474848;
}

.cupon_content_footer {
	background-image: -ms-linear-gradient(top, #019EBA 0%, #0A6E80 100%);
	background-image: -moz-linear-gradient(top, #019EBA 0%, #0A6E80 100%);
	background-image: -o-linear-gradient(top, #019EBA 0%, #0A6E80 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #019EBA), color-stop(1, #0A6E80));
	background-image: -webkit-linear-gradient(top, #019EBA 0%, #0A6E80 100%);
	border: 1px solid #7E7E7E;
	-webkit-border-bottom-left-radius: 10px 10px;
	-moz-border-bottom-left-radius: 10px 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px 10px;
	-moz-border-bottom-right-radius: 10px 10px;
	border-bottom-right-radius: 10px;
	width:310px;
	height:30px;
	padding:0 0 0 5px;
}
.cupon_content_footer > .cupon_table td{padding:0;}
.cupon_content_footer_link a{
	padding-left:165px;
	text-align: right;
	text-shadow: 1px 1px rgba(87, 87, 87, 1);
	color:#fff;
	text-decoration:none;
	font-family:Arial;
	font-size:15px;	
	padding-right:10px;
	font-weight:normal;
}
.cupon_content_footer_link a:hover{color:#CCC;}
.cupon_content_image {
	padding-right:20px !important;
	text-align:right;
}

.cupon_content_image img {
	border: 1px solid #fff;
	max-width:133px;
	max-height:133px;
}