/*Register type*/
ol#register-type{margin-top:20px;}
ol#register-type > li{float:left;display:block;text-align:center;margin-left:10px; width:218px;}
ol#register-type > li img{position:relative;z-index:9999;}
ol#register-type li a{color:white;}
ol#register-type p{margin-top:60px;text-align:justify;}
ol#register-type li > div{margin-top:-40px;padding-top:0px;width:195px;height:430px;}
ol#register-type li > div, .sub-div{
	/*Gradient*/
	background: rgb(229,229,229); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	border:1px solid #d5d5d3;
	padding:12px;	
}
.sub-div{text-align:justify;}
/* Span - Benefits */
span.benefits{	
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px;
	margin-bottom:10px;
}
span.visitor{color:#6c962d;}
span.commercial{color:#bc6b13;}
span.publicist{color:#0090d5;}
/*Benefits-List*/
ol.benefits-list{list-style:inside disc;margin-left:10px;}
/*Buttons*/
.register{
	padding:9px 20px;
	text-align:center;
	border:1px solid #014286;
	color:white;
}
.register-visitor{
	background: rgb(193,206,108); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(193,206,108,1) 0%, rgba(151,172,10,1) 7%, rgba(100,124,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(193,206,108,1)), color-stop(7%,rgba(151,172,10,1)), color-stop(100%,rgba(100,124,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(193,206,108,1) 0%,rgba(151,172,10,1) 7%,rgba(100,124,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(193,206,108,1) 0%,rgba(151,172,10,1) 7%,rgba(100,124,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(193,206,108,1) 0%,rgba(151,172,10,1) 7%,rgba(100,124,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(193,206,108,1) 0%,rgba(151,172,10,1) 7%,rgba(100,124,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97ac0a', endColorstr='#647c00',GradientType=0 ); /* IE6-9 */
}
.register-commercial{
	background: rgb(236,190,102); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(236,190,102,1) 0%, rgba(222,145,0,1) 7%, rgba(204,107,11,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,190,102,1)), color-stop(7%,rgba(222,145,0,1)), color-stop(100%,rgba(204,107,11,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(236,190,102,1) 0%,rgba(222,145,0,1) 7%,rgba(204,107,11,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(236,190,102,1) 0%,rgba(222,145,0,1) 7%,rgba(204,107,11,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(236,190,102,1) 0%,rgba(222,145,0,1) 7%,rgba(204,107,11,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(236,190,102,1) 0%,rgba(222,145,0,1) 7%,rgba(204,107,11,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#cc6b0b',GradientType=0 ); /* IE6-9 */
	/*DE9100*/
}
.register-publicist{
	background: rgb(102,220,254); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(102,220,254,1) 0%, rgba(1,195,252,1) 7%, rgba(25,125,162,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,220,254,1)), color-stop(7%,rgba(1,195,252,1)), color-stop(100%,rgba(25,125,162,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(102,220,254,1) 0%,rgba(1,195,252,1) 7%,rgba(25,125,162,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(102,220,254,1) 0%,rgba(1,195,252,1) 7%,rgba(25,125,162,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(102,220,254,1) 0%,rgba(1,195,252,1) 7%,rgba(25,125,162,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(102,220,254,1) 0%,rgba(1,195,252,1) 7%,rgba(25,125,162,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01C3FC', endColorstr='#197da2',GradientType=0 ); /* IE6-9 */
}
.register-visitor:hover{
	background: rgb(201,213,127); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(201,213,127,1) 0%, rgba(183,210,12,1) 7%, rgba(139,174,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,213,127,1)), color-stop(7%,rgba(183,210,12,1)), color-stop(100%,rgba(139,174,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(201,213,127,1) 0%,rgba(183,210,12,1) 7%,rgba(139,174,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(201,213,127,1) 0%,rgba(183,210,12,1) 7%,rgba(139,174,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(201,213,127,1) 0%,rgba(183,210,12,1) 7%,rgba(139,174,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(201,213,127,1) 0%,rgba(183,210,12,1) 7%,rgba(139,174,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B7D20C', endColorstr='#8bae00',GradientType=0 ); /* IE6-9 */
}
.register-commercial:hover{
	background: rgb(239,198,121); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(239,198,121,1) 0%, rgba(255,168,5,1) 7%, rgba(241,127,13,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,198,121,1)), color-stop(7%,rgba(255,168,5,1)), color-stop(100%,rgba(241,127,13,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(239,198,121,1) 0%,rgba(255,168,5,1) 7%,rgba(241,127,13,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(239,198,121,1) 0%,rgba(255,168,5,1) 7%,rgba(241,127,13,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(239,198,121,1) 0%,rgba(255,168,5,1) 7%,rgba(241,127,13,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(239,198,121,1) 0%,rgba(255,168,5,1) 7%,rgba(241,127,13,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFA805', endColorstr='#f17f0d',GradientType=0 ); /* IE6-9 */	
}
.register-publicist:hover{
	background: rgb(122,226,254); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(122,226,254,1) 0%, rgba(34,203,254,1) 7%, rgba(31,154,199,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,226,254,1)), color-stop(7%,rgba(34,203,254,1)), color-stop(100%,rgba(31,154,199,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(122,226,254,1) 0%,rgba(34,203,254,1) 7%,rgba(31,154,199,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(122,226,254,1) 0%,rgba(34,203,254,1) 7%,rgba(31,154,199,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(122,226,254,1) 0%,rgba(34,203,254,1) 7%,rgba(31,154,199,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(122,226,254,1) 0%,rgba(34,203,254,1) 7%,rgba(31,154,199,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22CBFE', endColorstr='#1f9ac7',GradientType=0 ); /* IE6-9 */
}