/* CSS Document */
*{margin:0;padding:0px;}
/*body{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}*/
ol,ul{list-style:none;}
img{border:0;}
h1,h2,h3,h4,h5,h6,
p,a,li,label,span
{text-rendering:optimizelegibility; text-align: justify;}

/* General Selectors */
h1{color:#950000; text-align:right;}
a{
	text-decoration:none;
	/* Transitions */
	transition:color 0.5s;
	-moz-transition:color 0.5s; /* Firefox 4 */
	-webkit-transition:color 0.5s; /* Safari and Chrome */
	-o-transition:color 0.5s; /* Opera */
}
hr{margin-top:2px;border-top:1px solid #dee1e1;border-bottom:1px solid #fff;}
input,textarea,select{
	/*Box-Shadow*/
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	/*Transitions*/
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	/*Misc*/
	padding:2px;	
}
input[type="text"],input[type="password"],textarea{
	/*Borders*/
	border-top:2px solid #d9d9d9;
	border-left:1px solid #e2e2e2;
	border-bottom:1px solid #e2e2e2;
	border-right:1px solid #f2f2f1;
	width:182px;	
}
input[type="text"],input[type="password"],textarea{
	/*Border-radius*/
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
input:focus,textarea:focus,select:focus{
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
}

/* Template Structure */
div#header{
	width:100%;
	height:150px;
	background-color:black;
	margin-bottom:10px;
	color:white;
}
div#header > div{float:right; margin:10px 35px 0 0; text-align:center;}
div#header a,div#footer a{color:#D3D3D3; padding:2px;}
div#header a:hover,div#footer a:hover{color:white;}
div#header h1{font-size:36px; color:white; float:right; font-style:italic; margin-top:10px;}
div#login-panel{position:absolute; background-color:#666666; right:61px; width:16%; height:18%; z-index:10; text-align:justify; padding:5px; font-size:12px;}
div#login-panel input[type="text"],input[type="password"]{width:95%;}
div#content{
	background-color:white;
	min-height:100px;
	position:relative;
	/* Box-Model */
	margin-right:auto;
	margin-left:auto;
	margin-top:-40px;	
	padding:5px 10px;
	color:black;			
	width:75%;
	/*Border-radius*/
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	/* Box Shadow */
	-webkit-box-shadow: 0px 3px 11px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 11px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 11px rgba(50, 50, 50, 0.75);
}
div#footer{
	background-color:#CCCCCC;	
	margin-top:-10px;
	padding-top:15px;
	text-align:center;
	font-size:11px;
}

/* IDs */
img#logo-siman{max-height:125px;max-width:125px;margin:10px 0 0 10px;float:left;}
img#logo{max-height:75px;max-width:75px; float:right; margin:5px 0 0 15px;}

/*Navigation menu*/
ul#nav li{
    list-style:none;
/* Fondo Degradado */

    /* CSS3 */

    background: linear-gradient(left, #BDBDBD, #1C1C1C);

    /* Safari 4+ y Chrome 1+ */

    background-image:-webkit-gradient(left, color-stop(0, #BDBDBD), color-stop(1, #1C1C1C));

    /* Safari 5.1+ y Chrome 10+ */

    background-image:-webkit-linear-gradient(left, #BDBDBD, #1C1C1C);

    /* Firefox 3.6+ */

    background-image:-moz-linear-gradient(left, #BDBDBD, #1C1C1C);

    /* Opera 11.10+ */

    background-image:-o-linear-gradient(left, #BDBDBD, #1C1C1C);

    /* Internet Explorer 5.5+ - 9 */

    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#BDBDBD', EndColorStr='#1C1C1C',GradientType=1);

    /* Internet Explorer 10+ */

    background: -ms-linear-gradient(left, #BDBDBD, #1C1C1C);

    /* Color alternativo para versiones que no soporten degradados */

    background-color: #BDBDBD;
    background-repeat:repeat-y;
}

ul#nav li a{
    display:block;
    padding:3px 7px;
    text-decoration:none;    
}

ul#nav li, ul#nav li a{        
    color:White;
    font-weight:bold;
    font-family:Palatino Linotype;
    font-size:small;
}

ul#nav li a:hover{
/* Fondo Degradado */

    /* CSS3 */

    background: linear-gradient(left, #610B0B, #8A0808);

    /* Safari 4+ y Chrome 1+ */

    background-image:-webkit-gradient(left, color-stop(0, #610B0B), color-stop(1, #8A0808));

    /* Safari 5.1+ y Chrome 10+ */

    background-image:-webkit-linear-gradient(left, #610B0B, #8A0808);

    /* Firefox 3.6+ */

    background-image:-moz-linear-gradient(left, #610B0B, #8A0808);

    /* Opera 11.10+ */

    background-image:-o-linear-gradient(left, #610B0B, #8A0808);

    /* Internet Explorer 5.5+ - 9 */

    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#610B0B', EndColorStr='#8A0808',GradientType=1);

    /* Internet Explorer 10+ */

    background: -ms-linear-gradient(left, #610B0B, #8A0808);

    /* Color alternativo para versiones que no soporten degradados */

    background-color: #8A0808;

    background-repeat:repeat-y;
}


/* Classes */
